<div id="banner" class="container">
  <div class="row">
    <div class="col-10">
      <div id="logo">
          <h1><span style="color:#00ff00">></span> Joshua Blakley </h1>
          <h4> Engineering Software</h4>
      </div>
    </div>
    <div class="col-2 contactImages">
      <div class="center">
        <a target="_blank" href="//www.linkedin.com/pub/joshua-blakley/54/b18/369" style="text-decoration:none;">
          <img src="assets/linked-in.gif" alt="LinkedIn" />
        </a>
        <a target="_blank" href="//www.facebook.com/joshua.blakley" style="text-decoration:none;">
          <img src="assets/facebook.png" alt="Facebook"/>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div id="cssmenu">
            <ul id="menu">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/resume" routerLinkActive="active">Resume</a></li>
            <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
