<div id="Content" class="grid_12 pull_12">
    <div id="panel" class="grid_12 alpha">
        <div class="text">
            <h2>Military Achievements</h2>
            <div class="p tab"><b>Decorations, Medals, Badges, Citations, and Campaign Ribbons</b>
                <ul>
                    <li>National Defense Service Medal</li>
                    <li>Global War on Terrorism Service Medal</li>
                    <li>Iraq Campaign Medal with Campaign Star</li>
                    <li>Army Service Ribbon</li>
                    <li>Overseas Service Ribbon</li>
                    <li>Armed Forces Reserve Medal with M Device</li>
                    <li>Combat Action Badge</li>
                </ul>
            </div>

            <h2>Professional Achievements</h2>
            <div class="p tab"><b>American Airlines</b>
                <br/>
                <ul>
                    <li>
                        Multiple Above and Beyond awards for always striving for excellence in all my applciations.
                    </li>
                    <li>
                        Designed and built a fully dynamic mobile applicaton to run on company issued mobile devices. Designed to
                        reduce the time and resources for business requirement changes to input formats. This application
                        is used by thousands of employees within multiple roles.
                    </li>
                </ul>
            </div>
            <div class="p tab"><b>Tyler Technologies</b>
                <br/>
                <ul>
                    <li>
                        Refactored the mobile finanancial application used across multiple financial products within the company. Worked with different teams to setup and adhere
                        to the webservices API consumed by the application.
                    </li>
                    <li>
                    Refactored payroll/tax calculation modules increasing efficiency and accuracy.
                    </li>
                </ul>
            </div>
            <div class="p tab"><b>CEA Global Education</b>
                <br/>
                <ul>
                    <li>Refactored the University portal, a site for participating universities to log in and
                        view information about students both alumni, and abroad. Pieced together fragmented applications
                        reviving the portal for university use.</li>
                    <li>Converted multiple applications from .NET 1.1 to .NET 4.0</li>
                </ul>
            </div>

            <h2>Scholarly Achievements</h2>
            <div class="p tab"><b>Junior Capstone - Cisco</b>
                <br/>
                Developed a Drupal website that was used as a proof of concept to rally a world wide collection of open source
                courses or LTI's. This website is being demoed throughout the world to various developers to create a community
                that will maintain and evolve certification course tools.<br/>
                <button type="button" class="btn btn-primary" (click)="staticModal.show()">View Award</button>
                <div class="modal" bsModal #staticModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="assets/docs/cisco_cert.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p tab"><b>Senior Capstone - General Dynamics</b>
                <br/>
                Worked with a team to Develop a web based application used to design complex datacenters. The application was written using the grails framework with a html5/canvas
                front end. The application was a proof of conceipt for creating a easily accessable tool for engineers to design the layout and power/data mappings throughout large
                datacenters. It featured dynamic hardware and cable lists, and an easy to use drag and drop GUI for placing components and mapping thier connections.
            </div>

            

            <!--<h2>Websites</h2>
            <div class="p tab"><a target="_blank" href="//laurajohnsen.com"><b>LauraJohnsen.com</b></a>
                <br/>
                A simple yet elegant personal portfolio website. It comes with a five star rating system to assess her abilities as an editor; this is written using jquery libraries and xml with xslt styling.
                <br/>
            </div>
            <div class="p tab"><a target="_blank" href="//josh-and-laura.us"><b>Josh-and-Laura.us</b></a>
                <br/>
                A wedding website complete with carousels for images, and a few imbedded applications for maps and registry. Simple, informative, romantic.
                <br/>
            </div>-->
        </div>
    </div>
</div>