<div id="banner">
  <div class="grid_10">
      <div id="logo" class="grid_4">
          <h1><span style="color:#00ff00">></span> Joshua Blakley </h1>
          <h4> Engineering Software</h4>
      </div>
  </div>
  <div class="grid_2 contactImages">
    <a href="//www.linkedin.com/pub/joshua-blakley/54/b18/369" style="text-decoration:none;">
    <img src="assets/linked-in.gif" alt="LinkedIn" style="border:0;width:32px;height:32px;"/></a>
    <a href="//plus.google.com/117468195813393969865?prsrc=3" rel="publisher" style="text-decoration:none;">
    <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/></a>
    <a href="//www.facebook.com/joshua.blakley" style="text-decoration:none;">
    <img src="assets/facebook.png" alt="Facebook" style="border:0;width:32px;height:32px;"/></a>
  </div>
  <div class="container_12">
      <div id="cssmenu" class="grid_8">
          <ul id="menu">
          <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/Resume" routerLinkActive="active">Resume</a></li>
          <li><a routerLink="/Portfolio" routerLinkActive="active">Portfolio</a></li>
        </ul>
      </div>
  </div>
</div>
<div class="clear"></div>