<div class="row padding-15">
    <div class="col-md center">
      <img align="center" width="90%" src="assets/self2.jpg" alt=""/>
    </div>
    <div class="col-md">
      <table border="0">
          <tr><td><b>Name:</b></td><td>Joshua Blakley</td></tr>
          <tr><td><b>Age:</b></td><td>{{ age }}</td></tr>
          <tr><td><b>Location:</b></td><td>{{ location }}</td></tr>
          <tr><td><b>Occupation:</b></td><td>{{ occupation }}</td></tr>
          <tr><td><b>Hobbies:</b></td><td>{{ hobbies }}</td></tr>
      </table>
    </div>
</div>

<div class="row padding-15">
    <div class="col-md">
      <p>
          Hello, I am a software engineer currently employed by Billing Tree as a Software Engineer II. I am a full stack developer with an expertice in front-end development. I have the most experience with the angular framework, redux state management, and restful services in .NET.
      </p>
      <p>
          I am passionate about taking complex problems and designing understandable and organized solutions. I try and stay well rounded in my skills as
          a developer, working in a wide range of languages/frameworks and taking on new and interesting challenges.
      </p>
      <p>
          The purpose of this site is to create a central location to collect and organize projects as a portfolio, as well as maintaining an easily accessible
          resource for any interested parties.
      </p>
    </div>
</div>
