<div id="Content" class="grid_12 pull_12">
            <div id="panel" class="grid_12 alpha">
                <div class="text">
		            <table border="0">
                    <tr>
			            <td  width="60%">
                            <img align="center" width="90%" src="assets/self2.jpg" alt=""/>
                        </td>
			            <td width="40%">
				            <table border="0">
					            <tr><td><b>Name:</b></td><td>Joshua Blakley</td></tr>
					            <tr><td><b>Age:</b></td><td>{{age}}</td></tr>
					            <tr><td><b>Location:</b></td><td>Chandler, AZ</td></tr>
					            <tr><td><b>Occupation:</b></td><td>Lead Developer at American Airlines</td></tr>
					            <tr><td><b>Hobbies:</b></td><td>Music, Woodworking, 3D Printing, Robotics, Reading</td></tr>
				            </table>
			            </td>
                    </tr>
		            </table>

                    <p>
                        Hello, I am a software engineer currently employed by American Airlines as a Technical Lead on cross platform mobile and web applicatons used accross
                        the company primarily by pilots and flight attendants. Primary frameworks within my organization are AngularJs (1.X as well as 2/4), .NET WebAPI, Ionic/Cordova, etc.
                    </p>
                    <p>
                        I am passionate about taking complex problems and designing understandable and organized solutions. I try and stay well rounded in my skills as
                        a developer, working in a wide range of languages/frameworks and taking on new and interesting challenges.
                    </p>
                    <p>
                        The purpose of this site is to create a central location to collect and organize projects as a portfolio, as well as maintaining an easily accessible
                        resource for any interested parties.
                    </p>

            </div>
		</div>